@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <section class="wrapper mb-5">
            <div class="container-fostrap">
                <div class="content">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <h3>Lost Items</h3>

                                    @foreach (var obj in Model.FoundItem)
                                    {
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="card">
                                                <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                                    <img src="@("~/image/"+obj.PictureName)" asp-append-version="true" />
                                                </a>
                                                <div class="card-content">
                                                    <h4 class="card-title" style="max-height:300px">
                                                        <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                                            @obj.Title
                                                        </a>
                                                    </h4>
                                                    <p class="" style="height:50px;word-wrap:break-word; overflow:hidden;margin-bottom:0px">
                                                        @obj.Description 
                                                    </p><span style="margin:0px">.......</span>
                                                </div>
                                                <div class="card-read-more">
                                                    <a asp-controller="FoundItems" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-link btn-block">
                                                        Read More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }



                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row ">

                                    @foreach (var obj in Model.FoundItem)
                                    {
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="card">
                                                <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                                    <img src="@("~/image/"+obj.PictureName)" asp-append-version="true" />
                                                </a>
                                                <div class="card-content">
                                                    <h4 class="card-title">
                                                        <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                                                            @obj.Title
                                                        </a>
                                                    </h4>
                                                    <p class="">
                                                        @obj.Description
                                                    </p>
                                                </div>
                                                <div class="card-read-more">
                                                    <a asp-controller="FoundItems" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-link btn-block">
                                                        Read More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }



                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
</div>




