@model LOST_AND_FOUND.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
<div class="col-md-3"></div>

<div class=" col-md-6 border  p-4 Larger shadow mt-4" style="border-radius:20px">
    <h4>User Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            Contact No:
        </dt>
        <dd class = "col-sm-6">
             
            @Html.DisplayFor(model => model.Contact)
        </dd>
    </dl>
</div>

<div class="col-md-3"></div>
 </div>